html {
  height: 100%;
  font-size: 100%;
}

body {
  background-image: url(https://coolbackgrounds.io/images/backgrounds/index/ranger-4df6c1b6.png);
  background-repeat: no-repeat;
  background-size: cover;
}
header {
  width: 100%;
}
#navdiv {
  display: flex;
  width: 17%;
  margin-left: 80%;
  justify-content: space-between;
  margin-top: 0em;
  height: 35px;
  padding: 1em 1em;
}
#googleimg {
  margin-top: 13%;
  width: 20%;
  height: 5%;
}
a {
  margin-top: 1px;
  text-decoration: none;
}
button {
  border-radius: 6px;
  height: 100%;
  width: auto;
  margin: 0em;
  background-color: #4c87e1;
  color: white;
  border: none;
  padding: 0em 0em;
}
#maindiv {
  width: 35%;
  border-radius: 50px;
  display: inline-flex;
  height: 40px;
  border: 1px solid lightgrey;
}
#input {
  width: 100%;
  border-radius: 25px;
  border: 1px solid white;
}

input {
  height: 100%;
  width: 100%;
  border: none;
  padding: 0px;
  text-align: center;
}
section {
  display: flex;
  margin-top: 2%;
  width: 23%;
  justify-content: space-around;
  margin-bottom: 2%;
}
section button {
  padding: 10px 12px;
  background-color: lightgrey;
  color: black;
}

#footerdiv {
  margin-top: 21%;
  display: table;
  font-size: 15px;
  padding: 1em;
  justify-content: space-between;
  flex-wrap: flex;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(75, 161, 154);
  color: white;
  text-align: center;
}
#footerdiv span {
  width: 7%;
  margin-left: 31%;
}
a:hover {
  text-decoration: underline;
}
button:hover {
  border: 1px solid gray;
}
.e {
  width: 100%;
  height: 78%;
  background-color: none;
  margin: 0px;
  padding: 1px;
}
.c {
  margin-right: 3em;
  margin-left: 0em;
  text-align: left;
  padding: 0em 0em 0em 0em;
  justify-content: space-evenly;
}
.b {
  text-align: center;
  padding-left: 12em;
  padding-right: 12em;
  margin-right: 13em;
}
.d {
  display: inline-flex;
  margin-right: 0em;
  margin-left: 2.5em;
  text-align: right;
  padding: 0em 0em 0em 2em;
}
.f {
  display: inline-flex;
  height: 65%;
  width: 5%;
  padding-right: 1.5em;
  opacity: 85%;
  mix-blend-mode: multiply;
}
.a {
  display: inline-flex;
  margin: 0;
  padding-right: 1em;
}
